body{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.navigate {
	background-color: #292727;
}

.schedule-section {
  position: relative;
  top: 22vh;
  width: 75%;
  padding: 0 20px;
  margin: 0 auto;
  color: #d1d1d1;
}

.sch-top{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.sch-top h1 {
  font-family: 'Cinzel', serif;
  font-weight: 200;
  font-size: 2rem;
}

.sch-top p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.calendar-back-btn {
  margin: 0;
  padding: 0;
  width: fit-content;
  line-height: 0;
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.calendar-back-btn:hover{
  color: #6b6969;
}

.calendar-back-btn svg{
  height: 20px;
  width: 20px;
  color: #fff;
  margin-left: 0;
}

.schedule{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 40vh;
  width: 100%;
  padding: 0;
}

.schedule-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 69%;
  margin: 0;
}

.schedule-right{
  width: 25.5%;
  margin: 0;
}

.date-time{
  margin: 0;
  line-height: 0.5px;
  display: flex;
  text-align: start;
  align-items: flex-start;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
}

.service-border{
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #6b6969;
}

.dt-text{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.mobile-dt-text, .mobile-dt-border {
  display: none;
}

.dt-text > p{
  font-size: 0.8rem;
  font-weight: 200;
}

.dt-border, .mobile-dt-border{
  border-bottom: 1px solid #6b6969;
  width: 100%;
}

.sch-booking{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sch-dt{
  display: flex;
  padding-top: 1.8vh;
  padding-bottom: 0;
  justify-content: space-between;
}

.service-details{
  line-height: 0.5px;
  margin: 0;
  padding: 0;
}

#serviceDetails{
  margin-top: 1.5vh;
  padding: 0;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.selection{
  color: #fff;
}

.selection2{
  color: #b7b4b4;
}

.selection, .selection2{
  line-height: 0.6;
  text-align: start;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: .9rem;
}

.service-btn{
  width: 100%;
  height: 5.3vh;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 0;
  margin-top: 5vh;
  background-color: #989797;
}

.service-btn:hover{
  text-decoration: underline;
}

.service-details h3, .dt-text h3{
  font-family: 'Cinzel', serif;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

#monthYear{
  font-weight: 200;
  font-size: .9rem;
  margin-top: 1.6vh;
  color: #fff;
}

.calendar {
  width: 300px;
  background: transparent;
  padding: 0;
  margin: 0;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3vh;
  line-height: 0;
}

.calendar-header svg {
  height: 25px;
  width: 25px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.calendar-header span {
  font-size: 1.2rem;
  font-weight: 500;
}

.calendar-weekdays, .calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-weekdays div {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: #b9b9b9;
}

.calendar-days div {
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  color: #909090;
  transition: background 0.3s;
}

.calendar-days div:hover{
  background: #323131;
}

.calendar-days div::after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #9a9a9a;
}

.calendar-days div.selected::after{
  background: #282828;
}

.calendar-days div.disabled{
  pointer-events: none;
  color: #ccc;
  opacity: 0.5;
}

.calendar-days div.disabled::after {
  display: none;
}

.calendar-days div.today{
  background: #5a5a5a;
  color: #282828;
}

.calendar-days div.selected {
  background: #7e7d7d;
  color: #282828;
}

.calendar-days div.empty {
  pointer-events: none;
  visibility: hidden;
}

.time-cover{
  display: flex;
  flex-direction: column;
  margin-top: 1.5vh;
  padding: 0;
  gap: 3.5vh;
  line-height: 0;
}

.time-cover > p{
  margin: 0;
  padding: 0;
  line-height: 0;
  color: #fff;
  align-self: center;
}

.time{
  display: grid;
  gap: 10px;
  width: 300px;
  grid-template-columns: repeat(2, 1fr);
}

.time-box{
  width: 10vw;
  height: 6vh;
  color: #fff;
  border: 1px solid #b1b0b0;
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.time-box:hover{
  border: 1px solid #fff;
}

.default-time {
  background-color: #353232;
  color: #fff;
}

.selected-time {
  background-color: #353232;
  color: #fff;
}

@media (max-width: 1200px){
  .schedule {
    flex-direction: column;
  }

  .schedule-left {
    width: 100%;
  }

  .schedule-right {
    margin-top: 30px;
  }

  .time-box {
    width: 140px;
  }
}

@media (max-width: 992px) {
  .schedule-section {
    width: 75%;
  }
}

@media (max-width: 859px) {
  .sch-top h1 {
    font-size: 1.7rem;
  }

  .schedule-left {
    align-items: center;
  }

  .calendar {
    width: 400px;
  }

  .dt-border {
    width: 400px;
  }

  .sch-dt {
    flex-direction: column;
    align-items: center;
  }

  .dt-text > p {
    display: none;
  }

  .mobile-dt-text {
    display: block;
    margin-top: 50px;
  }


  .mobile-dt-text > span {
    line-height: 0;
    color: #fff;
  }

  .mobile-dt-border {
    display: block;
    margin: 0;
  }

  .time-cover {
    text-align: center;
    margin-top: 3vh;
    gap: 3vh;
  }

  .schedule-right{
    width: fit-content;
  }
}

@media (max-width: 576px) {
  .schedule-section {
    top: 16vh;
    width: 85%;
  }
}

@media(max-width: 480px) {
  .sch-top h1 {
    font-size: 1.5rem;
    margin-left: 17px;
  }
  
  .calendar {
    width: 300px;
  }

  .dt-border {
    width: 300px;
  }

  .time-box {
    width: 140px;
  }

  .schedule-right{
    margin-left: 17px;
  }
}