body {
    margin: 0;
    color: #fff;
    background-color: #292727;
    font-family: 'Montserrat', sans-serif;
}

.navigate {
	background-color: #292727;
}

.c-section{
    display: flex;
    flex-direction: column;
    margin: 130px 0;
    align-items: center;
}

h1{
    color: #fcedd4;
	font-size: 2.8rem;
	font-weight: 200;
	margin-bottom: 60px;
	font-family: "Cinzel", serif;
	letter-spacing: 1px;
}

.c-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    align-items: center;
    margin-top: 20px;
}

.c-contact{
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 1vw, 40px);
}

.c-tab{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: flex-start;
    gap: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding-top: 20px;
    margin: 0;
}

.c-tab svg{
    height: 35px;
    width: 35px;
    stroke-width: 1;
    flex-shrink: 0;
    vertical-align: middle;
    margin: 0;
}

.c-tab p {
    margin: 0;
}

.c-email-text{
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.c-email-text > a{
    text-decoration: none;
    color: #ffffff;
}

.social-icons {
    margin: 0;
}

.social-icons a {
    font-size: 22px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 15px;
    font-weight: 100;
    gap: 10px;
}

.name {
    display: flex;
    gap: 20px;
    width: 100%;
}

.name > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.name input {
    height: 33px;
    background-color: transparent;
    border: 0.7px solid #fff;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.form input {
    background-color: transparent;
    border: 0.7px solid #fff;
    width: 100%;
    height: 40px;
}

.form input:hover, .name input:hover{
    box-shadow: inset 0 0 0 1px #ffffff;
}

.message input {
    height: 80px;
}

.form-btn {
    align-self: flex-end;
    margin-top: 20px;
    background-color: #989797;
    border: none;
    font-size: 0.9rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    height: 38px;
    width: 138px;
}

.form-btn:hover{
    color: #616161;
    font-weight: 300;
    background-color: transparent;
    border: 1px solid #616161;
}

@media (max-width: 992px) {
	.c-sub {
        flex-direction: column;
    }

    .contact-form {
        width: 85%;
    }

    .c-contact {
        width: 85%;
    }

    .c-contact {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .c-section {
        margin-top: 100px
    }

    h1 {
        font-size: 2.6rem;
    }

	.c-sub {
        width: 80%;
        margin-top: 7px;
    }
}

@media (max-width: 576px) {
    .c-section {
        margin-top: 80px
    }

    h1 {
        font-size: 2.2rem;
    }

	.c-sub {
        width: 95%;
    }
}

@media (max-width: 400px) {
	.c-contact {
        margin-top: 40px;
    }
}