/* Global Styles */
body {
    margin: 0;
    line-height: 1.6;
    background-color: #292727;
    font-family: 'Montserrat', sans-serif;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    filter: brightness(80%) contrast(85%) saturate(90%);
    z-index: 11;
}

/* Header section */
.header {
    position: relative;
    /* background: url('nav-cover.png') center/cover no-repeat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #fff;
    height: 820px;
    margin-bottom: 0;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 820px;
    /* height: 430px; */
    margin-top: 0;
    background: url('nav-cover.png') center/cover no-repeat;
    filter: brightness(80%) contrast(85%) saturate(90%);
    z-index: 1;
}
.header-logo {
    height: 50px;
    width: 100px;
}
.navigate {
    background-color: rgba(41, 39, 39, 0.4);
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0 20px;
}
.navigate.scrolled {
    background-color: #292727;
    transition: background-color 0.3s ease;
}
.nav {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav svg{
    position: relative;
    right: 40px;
    height: 30px;
    width: 30px;
    stroke-width: 1px;
    cursor: pointer;
    color: #fff;
}
.nav-links ul {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links li {
    display: flex;
    align-items: center;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}
.nav-links a:hover{
    color: #FCEDD4;
}
.nav-link.active {
    color: #FCEDD4;
}  

/* Cover Section */
.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-top: 50px;
    z-index: 2;
}
.cover img{
    width: auto;
    height: 150px;
    margin-bottom: 0;
}
.cover h3 {
    margin: 0;
    font-size: 50px;
    font-weight: 200;
    color: #FCEDD4;
    letter-spacing: 12px;
    font-family: "Cinzel", serif;
}
.cover p {
    margin: 0;
    letter-spacing: 2px;
}
.cover-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
}
.menu-btn1 {
    border-radius: 30px;
    background-color: transparent;
    height: 50px;
    width: 176px;
    padding: 10px;
    font-size: 0.9rem;
    box-shadow: none;
    cursor: pointer;
    border: 1.4px solid #FFFFFF;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}
.menu-btn1 > a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
.menu-btn1:hover, .order-btn:hover{
    color: #194634;
    border: none;
    background-color: rgba(249, 245, 237, 0.4);
}
.centered-border {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border-bottom: 1.5px solid #FFFFFF;
    width: 67%;
    z-index: 2;
}

/* Reservation Section */
.reservation {
    text-align: center;
    margin: 0;
    max-height: 700px;
    margin-top: 50px;
}
.reserve-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 65%;
    margin: 0 auto;
}
.reservation h1 {
    color: #FCEDD4;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 60px;
    font-family: "Cinzel", serif;
    letter-spacing: 1px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
    color: white;
    width: 280px;
    padding: 10px;
    border: 1px solid #464544;
}
.card h3{
    font-size: 20px;
    font-weight: 400;
}
.sub-text{
    font-size: 14px;
    font-weight: 100;
}
.price{
    font-size: 16px;
    font-weight: 200;
}
.card-btn{
    background-color: #626060;
    border: none;
    width: 190px;
    padding: 10px;
    color: #FCEDD4;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.card-btn:hover{
    text-decoration: underline;
}
.dividing-border {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #464544;
    width: 82%;
}

/* Order Section */
.order{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: hidden;
    height: 430px;
}
.order::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 430px;
    margin-top: 0;
    background: url('order-cover.avif') center/contain no-repeat;
    filter: brightness(80%) contrast(85%) saturate(90%);
    z-index: 1;
}
.order-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    z-index: 2;
    margin-bottom: 40px;
    margin-top: 20px;
}
.order-logo {
    line-height: 0;
}
.order-logo p{
    position: relative;
    top: -8px;
    font-size: 12px;
}
.order-text{
    padding-top: 15px;
}
.order-text h3{
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #FCEDD4;
    margin: 0;
    font-family: "Cinzel", serif;
}
.order-text p{
    margin: 0;
    font-size: 55px;
    font-weight: 300;
    letter-spacing: 3px;
    font-family: "Cinzel", serif;
}
.order-btn{
    border-radius: 30px;
    background-color: transparent;
    height: 50px;
    width: 190px;
    padding: 10px;
    color: #f2ede3;
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #FCEDD4;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

/* Testimonials */
.testimonials {
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 370px;
    height: 200px;
    background-color: #292727;
    text-align: center;
    color: #FFFFFF;
}
.testimonials-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    transition: opacity 0.5s ease;
}
  
.testimonials-container.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}
  
  
  
.testimonials-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.testimonials-border{
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    border-bottom: 1.5px solid #FCEDD4;
    width: 8%;
}
.testimonials blockquote {
    font-family: "Cinzel", serif;
    padding: 0;
    font-size: 1.25rem;
}
.customer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.testimonials svg{
    height: 50px;
    stroke-width: 1;
    cursor: pointer;
}

.testimonials svg:hover{
    color: #a7a7a7;
    cursor: pointer;
}
.pagination-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}
.dot {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.dot.active {
    width: 7px;
    height: 7px;
    background-color: transparent;
    border: 3px solid #fff; 
}

/* Newsletter Section */
.news-letter{
    position: relative;
    display: block;
    justify-content: center;
    text-align: center;
    height: 385px;
}
.news {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    height: 380px;
    margin: 0;
    overflow: hidden;
}
.news::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 430px;
    margin-top: 0;
    background: url('news-cover.avif') center/contain no-repeat;
    filter: brightness(80%) contrast(85%) saturate(90%);
    z-index: 1;
}
.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    z-index: 2;
}
.news-container > h2{
    font-family: "Cinzel", serif;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.news-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.news-input{
    height: 42px;
    width: 185px;
    text-align: center;
    border-radius: 7px;
    background-color: transparent;
    border: 0.5px solid #fff;
}
.news-input:hover{
    background-color: #789cbe81;
    border: 0.5px solid #7a7979;
    box-shadow: inset 0 0 0 3px #7a7979;
}
.news-input::placeholder{
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}
.news-btn{
    height: 45px;
    width: 183px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: #000;
    border-radius: 7px;
    background-color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
.news-border {
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border-bottom: 1px solid #FFFFFF;
    width: 94%;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    background-color: #292727;
    color: #fff;
    width: 100%;
    height: 350px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
}
.footer-logo{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40px;
    cursor: pointer;
}
.footer-logo img {
    color: #fff;
    width: 150px;
    height: 90px;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 22px;
}
.location{
    line-height: 8px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 0;
    position: relative;
    top: -20px;
}
.contact-info > a {
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    margin: 0;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin-top: 25px;
}
.links a {
    color: #fff;
    font-size: 14px;
}
a, i, button{
    cursor: pointer;
}
.carting{
    position: relative;
    top: 150px;
}
.cart-item-icon{
    background-color: black;
    width: 50px;
    height: 50px;
}
.cart-item-icon > svg{
    height: 30px;
    width: 30px;
    color: white;
}
.btn-remove{
    height: 30px;
    width: 30px;
    color: white;
}