.menu-section{
    display: block;
    position: relative;
    top: 120px;
    /* bottom: 90px; */
    width: 65%;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: #313030;
    padding: 20px;
    /* flex-direction: column; */
}
body {
    background-color: #292727;
    color: #ffffff;
    /* font-family: 'Georgia', serif; */
    /* line-height: 1.5; */
}

h1 {
    position: relative;
    top: 30px;
    left: 20;
    bottom: 0;
    font-size: 2rem;
    font-weight: 100;
    line-height: 0;
    text-transform: capitalize;
}

h1, h3, h4{
    font-family: "Cinzel", serif;
}

h3 {
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}

.menu-slide{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* justify-content: space-between; */
    align-self: flex-start;
    /* margin-left: 25px; */
    width: 25%;
    /* height: 49px; */
}

.menu-slide-links{
    display: flex;
    /* align-content: center; */
    gap: 15%;
    /* justify-content: space-between; */
    width: 100%;
    padding: 0;
    /* padding-right: 23px; */
    padding: 0 23px 10px 23px;
}
.menu-slide a {
    cursor: pointer;
    color: #fff;
    font-weight: 200;
    text-decoration: none;
    margin: 0;
}

.menu-slide-border{
    /* position: absolute;
    top: 30px; */
    border-top: 3px solid #989695;
    width: 50%;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: space-between; */
    /* align-self: flex-start; */
    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
}

.food-menu, .drinks-menu{
    margin-top: 30px;
}

.menu-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

/* p{
    font-family: 'Montserrat', sans-serif;
    width: 50%;
} */

.menu-border {
    border-top: 1px solid #62605f;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.menu-tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    /* flex-wrap: wrap; */
    /* gap: 0.6em; */
    width: 100%;
}

.menu-cover{
    width: 47%;
}

.menu-cover > h1{
    font-size: 1.73rem;
    margin: 0;
    font-weight: lighter;
    letter-spacing: 1px;
}

/* .aperitifs{
    width: 100%;
    margin-top: 0;
} */

.meal {
    flex: 1 1;
    width: 100%;
    /* height: 30px; */
    margin-top: 10px;
    margin-bottom: 10px;
    /* line-height: 12px; */
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meal h4 {
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: 100;
    /* margin: 0; */
    /* white-space: nowrap; */
    line-height: 1.4;
}

.menu-tab > p {
    flex: 0 0 auto;
    /* margin: 0 0 10px 0; */
    font-size: 0.92rem;
    font-weight: 200;
    color: #ffffff;
    white-space: nowrap;
}

.menu-item{
    margin-top: 50px;
}

.meal h4, .price {
    margin: 0;
    padding: 0;
}

.price {
    position: absolute;
    top: 41px;
    /* bottom: 1px; */
    right: 0;
    margin: 0;
    font-size: 0.92rem;
    font-weight: 200;
    color: #ffffff;
    white-space: nowrap;
}

.fish-price{
    position: relative;
    top: 9px;
    margin: 0;
    font-size: 0.92rem;
    font-weight: 200;
    color: #ffffff;
    white-space: nowrap;
}

.cold-header p,
.ag-header p {
    font-size: 0.92rem;
    font-weight: 200;
    color: #fff;
    margin: 0;
}

.fish-items{
    width: 100%;
    padding: 0;
    /* margin-top: 10px; */
    /* line-height: 10; */
}

.fish-items > div {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    margin: 0;
    padding: 0;
    font-size: 0.92rem;
    font-weight: 200;
}