body {
    margin: 0;
    color: #fff;
    background-color: #292727;
    font-family: 'Montserrat', sans-serif;
}

.navigate {
	background-color: #292727;
}

.tc-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    justify-content: center;
}

.tc-top{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}

.tc-top > h1{
    font-family: "Cinzel", serif;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
}

.tc-top > p{
    font-weight: 200;
    font-size: 15px;
}

.tc-body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.tc-card > h3 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    white-space: nowrap;
    font-family: "Cinzel", serif;
}

.tc-card > p{
    font-size: 15px;
    font-weight: 300;
}

.tc-card{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 0 auto; 
}

.tc-border{
    display: inline-block;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .tc-container {
        width: 75%;
    }
}

@media (max-width: 992px) {
    .tc-container {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .tc-top {
       margin-top: 140px;
    }

    .tc-top > h1 {
        font-size: 32px;
    }

    .tc-top > p{
        font-size: .85rem;
    }

    .tc-card {
        flex-direction: column;
        gap: 0;
    }

    .tc-card > p{
        font-size: .85rem;
    }
}

@media (max-width: 400px) {
    .tc-top > h1 {
        font-size: 26px;
    }
}